body{
    text-align: center;
    font-family: 'Oxygen', sans-serif;
    background: -webkit-linear-gradient(#025B65, #38D6BB);
    color: white;
    font-weight: lighter
}
.pantallaDos{
	display: none;
}
.inputNumber{
	border-radius: 6px;
	font-family: 'Oxygen', sans-serif;
	padding: 5px;
}
.textbox{
	font-family: 'Oxygen', sans-serif;
    font-weight: bold;
}
.text{
   border-radius: 10px;
   font-family: 'Oxygen', sans-serif;
   color: #1D2D2A;

}
.button{
	border-radius: 6px;
	padding: 8px;
	background: white;
    color: black;
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
}
.button:hover{
  background: #0A6D6D;
  text-decoration: none;
  color: white;
}
