body{
    text-align: center;
    font-family: "Poppins", sans-serif;
    background: -webkit-linear-gradient(#025B65, #38D6BB);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-weight: lighter;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;   
}
figure{
  margin-block-start: 3%;
  
}
h1{
	color: white;
	font-size: 60px;
  font-family: "Poppins", sans-serif;
  margin-top: 0%;
}
.subtitulo{
  font-size: 20px;
  margin-top: -4%;
  font-family: "Poppins", sans-serif;
}
.box-blue{
  background-attachment: fixed;
  width: 100%;
  padding-left:  0px;
  padding-right: 0px;
  margin-top: 5%;
  height: 40px;
  border: 0px #025B65;
  background-color: #025B65;
  position: fixed;
  bottom: 0;
}
.box-blue-dos{
  background-attachment: fixed;
  width: 100%;
  padding-left:  0px;
  padding-right: 0px;
  margin-top: 0.5%;
  height: 43px;
  border: 0px #025B65;
  background-color: #025B65;
  position: fixed;
  bottom: 0;
}
.pantallaDos{
	display: none;
}
.inputNumber{
	border-radius: 6px;
	font-family: "Poppins", sans-serif;
  font-size: 13px;
	padding: 5px;
  width: 5%;
}

.textbox{
	font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 17px;
  height: 100%; 
}
.textbox_mensaje{
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 17px;
  height: 100%; 
  margin-top: 0.2%;
}
.text{
   border-radius: 10px;
   font-family: "Poppins", sans-serif;
   font-size: 14px;
   color: #1D2D2A;
   width: 60%;
   height: 103px;
   margin-top: -1%;
   resize: none;
   overflow: auto;
   overflow-y:hidden;
}
.Inicio{
  border-radius: 8px;
  width: 150px;
  background: white;
  height: 40px;
  padding: 4px 0 0 0;
  margin: 0 auto;
  margin-top: 0%;
  font-size: 25px;
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: bold;   
}
.Inicio:hover{
  background: #0A6D6D;
  text-decoration: none;
  color: white;
}
.button{
	border-radius: 8px;
	padding: 8px;
  width: 110px;
  height: 40px;
  font-size: 15px;
	background: white;
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
.button:hover{
  background: #0A6D6D;
  text-decoration: none;
  color: white;
}
#lock{
  margin-right: 4%
}
#open{
  margin-right: 2%
}
#trash{
  margin-right: 4%
}
#sk{
  font-size: 22px;
  margin-left: 65%;
  padding-top: 1%;
  padding-left: 12%;
  position: relative;
}
#slack{
  font-size: 22px;
  padding-left: 2%;
  position: relative;
}
#whatsapp{
  font-size: 22px;
  padding-left: 2%;
  position: relative;
}
.comparte{
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  position:relative;
  top:-89%;
  left: 13%;
}
